<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><!DOCTYPE html>
    <html lang="pt-br"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8&quot;/">
            <title>Consultas de Chamados</title>
            <link rel="stylesheet" href="../static/css/bootstrap.css">
            <link rel="stylesheet" href="../static/css/style.css">
            <script src="../static/js/jquery.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<!--MENU-->
			<nav id="sidebar">
				<div style="margin-top: 30px;" align="center">
					<img src="../static/logo/logo.png" width="180" height="55">
					<br><br><div style="color: white; font-size: 150%;">Acompanhamentos</div>
				</div>
				<div>
					<hr>
				</div>
				<div id="menus">
					<ul>
						<a href="http://10.48.0.114/chamados/func/cadastro.php">
							<li>
								<div class="barra"></div>
								<p class="menu"><strong>Cadastro</strong></p>
							</li>
						</a>

						<a href="http://10.48.0.114/chamados/index.php">
							<li>
								<div class="barra"></div>
								<p class="menu"><strong>Consultas</strong></p>
							</li>
						</a>
						<a href="http://10.48.0.114/chamados/func/relatorios.php">
							<li>
								<div class="barra"></div>
								<p class="menu"><strong>Relatórios</strong></p>
							</li>
						</a>
					</ul>
				</div>
			</nav>
			<div>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
				<h1>Teste</h1>
			</div>
        </div>

    </body>
</html>